//variables

$header-color: #648cff;

%ubuntu-bold {
	font-family: 'Ubuntu';
	font-weight: bold;
	font-style: normal;
}

%ubuntu-normal {
	font-family: 'Ubuntu';
	font-weight: normal;
	font-style: normal;
}

%ubuntu-light {
	font-family: 'Ubuntu';
    font-weight: 300;
    font-style: normal;
}

%flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

//header section

.container {
	max-width: 60.9375vw;
	margin: 0 auto;
	}

header {
	background-color: $header-color;
	padding-top: 2.78vh;
	
	.flex-container {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;

		p {
			@extend %ubuntu-bold;
			color: white;
	  		text-transform: uppercase;
	  		line-height: 1.2;
	  		font-size: 1.5em;
		}

		a {
			text-decoration: none;
			color: white;
			@extend %ubuntu-normal;
			line-height: 1.2;
			
		}
	}

	.header-navigation-meniu {
		font-size: 1.125em;
	}

	.social-media-links__list {
		font-size: 1.625em;
		justify-content: space-between;
	}
	nav {
		flex-basis: 28.34vw;
		opacity: 0.8;
	}
	.social-media-links {
		flex-basis: 7.396vw;
	}

}
