.hidden-section {
  display: none; }

.first-screen .description-and-phone .description h1 {
  font-size: 3.75em; }

.features .title h2, .download .download-flex-container h2 {
  font-size: 2.25em; }

.social-media-links__list {
  font-size: 1.625em; }

.flex-container p, .features .fetures-list ul li .features-list__feature h3 {
  font-size: 1.5em; }

.header-navigation-meniu, .first-screen .description-and-phone .description p, .first-screen .description-and-phone .description button, .features .title p, .download .download-flex-container p {
  font-size: 1.125em; }

.features .fetures-list ul li .features-list__feature p, footer .line p {
  font-size: 1em; }

.flex-container p, .first-screen .description-and-phone .description h1, .first-screen .description-and-phone .description button, .first-screen .description-and-phone .phone div #phone__circle_9, .first-screen .description-and-phone .phone div #phone__circle_london, .first-screen .description-and-phone .phone div #phone__circle_sunny, .first-screen .description-and-phone .phone div #phone__circle_rio, .features .title h2, .features .fetures-list ul li .features-list__feature h3, .download .download-flex-container h2 {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-style: normal; }

.flex-container a, .first-screen .description-and-phone .description p, .features .title p, .features .fetures-list ul li .features-list__feature p, .download .download-flex-container p, footer .line p {
  font-family: 'Ubuntu';
  font-weight: normal;
  font-style: normal; }

.first-screen .description-and-phone, .features .fetures-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.first-screen .description-and-phone .description button, .first-screen .down-button button, footer .go-top button {
  cursor: pointer; }

.container {
  max-width: 60.9375vw;
  margin: 0 auto; }

header {
  background-color: #648cff;
  padding-top: 2.78vh; }
  header p {
    color: white; }
  header a {
    color: white; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .flex-container p {
    text-transform: uppercase;
    line-height: 1.2; }
  .flex-container a {
    text-decoration: none;
    line-height: 1.2; }

.social-media-links__list {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

nav {
  -ms-flex-preferred-size: 28.34vw;
  flex-basis: 28.34vw;
  opacity: 0.8; }

.social-media-links {
  -ms-flex-preferred-size: 7.396vw;
  flex-basis: 7.396vw; }

.first-screen {
  background-color: #648cff;
  background-image: url(../images/wave11.png), url(../images/wave22.png), -webkit-gradient(linear, left top, right top, from(#648cff), to(#648cff));
  background-image: url(../images/wave11.png), url(../images/wave22.png), -webkit-linear-gradient(left, #648cff, #648cff);
  background-image: url(../images/wave11.png), url(../images/wave22.png), -o-linear-gradient(left, #648cff, #648cff);
  background-image: url(../images/wave11.png), url(../images/wave22.png), linear-gradient(to right, #648cff, #648cff);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center bottom, center bottom;
  background-size: contain, contain;
  border-bottom-right-radius: 100vw 10vh;
  border-bottom-left-radius: 100vw 10vh; }
  .first-screen .description-and-phone {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
    padding-top: 13.889vh; }
    .first-screen .description-and-phone .description {
      -ms-flex-preferred-size: 42.735%;
      flex-basis: 42.735%; }
      .first-screen .description-and-phone .description h1 {
        color: white;
        line-height: 1.2; }
      .first-screen .description-and-phone .description p {
        color: white;
        line-height: 1.667;
        padding-top: 4.63vh; }
      .first-screen .description-and-phone .description .description__buttons {
        margin-top: 5.556vh; }
      .first-screen .description-and-phone .description button {
        color: white;
        line-heigt: 1.2;
        border: none;
        text-decoration: none;
        padding: 4% 8%;
        border-radius: 5px; }
      .first-screen .description-and-phone .description a:first-child button {
        background-color: #fc6a42; }
      .first-screen .description-and-phone .description a:last-child button {
        background-color: #4466c9; }
    .first-screen .description-and-phone .phone {
      -ms-flex-preferred-size: 47.18%;
      flex-basis: 47.18%;
      position: relative;
      padding-bottom: 2.223%; }
      .first-screen .description-and-phone .phone div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .first-screen .description-and-phone .phone div img {
          max-width: 48.334%; }
        .first-screen .description-and-phone .phone div #phone__circle_9 {
          background-color: white;
          position: absolute;
          width: 10.51%;
          height: 9.956%;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          border-radius: 50%;
          z-index: 1;
          right: 10.51%;
          top: 14.49%;
          font-size: 1.1vw;
          color: #6ca3ff;
          line-height: 1.2; }
        .first-screen .description-and-phone .phone div #phone__circle_london {
          background-color: #4466c9;
          position: absolute;
          width: 16.304%;
          height: 15.448%;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          border-radius: 50%;
          z-index: 1;
          right: 0;
          top: 45.83%;
          font-size: 0.85vw;
          color: white;
          text-transform: uppercase;
          line-height: 10.417; }
        .first-screen .description-and-phone .phone div #phone__circle_sunny {
          background-color: #fc6a42;
          position: absolute;
          width: 16.304%;
          height: 15.448%;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          border-radius: 50%;
          z-index: 1;
          left: 0;
          top: 50.64%;
          font-size: 1vw;
          color: white;
          text-transform: uppercase;
          line-height: 9.259; }
        .first-screen .description-and-phone .phone div #phone__circle_rio {
          line-height: 1.2;
          background-color: #fcec64;
          position: absolute;
          width: 9.964%;
          height: 9.441%;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          border-radius: 50%;
          z-index: 1;
          right: 7.25%;
          bottom: 0;
          font-size: 1vw;
          color: #648cff;
          text-transform: uppercase; }
  .first-screen .down-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 65px; }
    .first-screen .down-button button {
      font-size: 11px;
      padding: 20px;
      border-radius: 50%;
      background-color: white;
      border: none;
      text-decoration: none;
      color: #ff4a4f;
      line-height: 0.4; }

.features .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 12.04vh; }
  .features .title h2 {
    color: #648cff;
    line-height: 1.2; }
  .features .title p {
    color: #999999;
    line-height: 1.2; }

.features .fetures-list {
  padding-bottom: 19.45vh; }
  .features .fetures-list ul {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 100%; }
    .features .fetures-list ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      max-width: 370px;
      padding-top: 12.04vh; }
      .features .fetures-list ul li .features-list__feature {
        margin-left: 5.4%; }
        .features .fetures-list ul li .features-list__feature h3 {
          color: #353854; }
        .features .fetures-list ul li .features-list__feature p {
          color: #aeaeae;
          line-height: 1.875;
          margin-top: 10px; }

.download {
  background-color: #648cff;
  background-image: url("../images/threePhones.png");
  background-repeat: no-repeat;
  background-position: 50.78125vw 5.8333vh; }
  .download .download-flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    max-width: 500px; }
    .download .download-flex-container h2 {
      color: white;
      line-height: 1.2;
      text-transform: uppercase;
      padding-top: 11.12vh; }
    .download .download-flex-container p {
      color: white;
      line-height: 1.2;
      padding-top: 3.704vh;
      max-width: 370px; }
    .download .download-flex-container .download-flex-container__buttons {
      padding-top: 2.778vh;
      padding-bottom: 10.19vh; }

footer {
  background-color: #353854;
  padding-top: 8.32vh; }
  footer p {
    color: #fc6a42; }
    footer p span {
      color: #648cff; }
  footer a {
    color: #b5b5c8; }
  footer .header-navigation-meniu li:first-child a {
    color: white; }
  footer .line {
    max-width: 82.96875vw;
    margin: 0 auto;
    border-top: 1px solid #434769;
    margin-top: 8.519vh;
    padding-top: 4.63vh; }
    footer .line p {
      color: #565b87;
      line-height: 1.35;
      text-align: end; }
  footer .go-top {
    position: relative;
    max-width: 100vw;
    height: 85px; }
    footer .go-top button {
      position: absolute;
      bottom: -3px;
      right: 3.4375vw;
      border-radius: 5px;
      background-color: #434769;
      border: none;
      padding: 7px 15px; }
      footer .go-top button i {
        color: #b5b5c8;
        font-size: 30px; }
