.first-screen .description-and-phone .description h1 {
  font-size: 3.75em; }

.first-screen .description-and-phone .description p, .first-screen .description-and-phone .description button {
  font-size: 1.125em; }

header .flex-container p, .first-screen .description-and-phone .description h1, .first-screen .description-and-phone .description button, .first-screen .description-and-phone .phone div #phone__circle_9, .first-screen .description-and-phone .phone div #phone__circle_london, .first-screen .description-and-phone .phone div #phone__circle_sunny, .first-screen .description-and-phone .phone div #phone__circle_rio {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-style: normal; }

header .flex-container a, .first-screen .description-and-phone .description p {
  font-family: 'Ubuntu';
  font-weight: normal;
  font-style: normal; }

.first-screen .description-and-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.container {
  max-width: 60.9375vw;
  margin: 0 auto; }

header {
  background-color: #648cff;
  padding-top: 2.78vh; }
  header .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header .flex-container p {
      color: white;
      text-transform: uppercase;
      line-height: 1.2;
      font-size: 1.5em; }
    header .flex-container a {
      text-decoration: none;
      color: white;
      line-height: 1.2; }
  header .header-navigation-meniu {
    font-size: 1.125em; }
  header .social-media-links__list {
    font-size: 1.625em;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  header nav {
    -ms-flex-preferred-size: 28.34vw;
    flex-basis: 28.34vw;
    opacity: 0.8; }
  header .social-media-links {
    -ms-flex-preferred-size: 7.396vw;
    flex-basis: 7.396vw; }

.first-screen {
  background-color: #648cff;
  background-image: url(../images/wave11.png), url(../images/wave22.png), -webkit-gradient(linear, left top, right top, from(#648cff), to(#648cff));
  background-image: url(../images/wave11.png), url(../images/wave22.png), -webkit-linear-gradient(left, #648cff, #648cff);
  background-image: url(../images/wave11.png), url(../images/wave22.png), -o-linear-gradient(left, #648cff, #648cff);
  background-image: url(../images/wave11.png), url(../images/wave22.png), linear-gradient(to right, #648cff, #648cff);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center bottom, center bottom;
  background-size: contain, contain;
  border-bottom-right-radius: 100vw 10vh;
  border-bottom-left-radius: 100vw 10vh; }
  .first-screen .description-and-phone {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
    padding-top: 13.889vh; }
    .first-screen .description-and-phone .description {
      -ms-flex-preferred-size: 42.735%;
      flex-basis: 42.735%; }
      .first-screen .description-and-phone .description h1 {
        color: white;
        line-height: 1.2; }
      .first-screen .description-and-phone .description p {
        color: white;
        line-height: 1.667;
        padding-top: 4.63vh; }
      .first-screen .description-and-phone .description button {
        color: white;
        line-heigt: 1.2;
        border: none;
        text-decoration: none;
        padding: 4% 8%;
        border-radius: 5px;
        margin-top: 5.556vh; }
      .first-screen .description-and-phone .description button:first-child {
        background-color: #fc6a42; }
      .first-screen .description-and-phone .description button:last-child {
        background-color: #4466c9; }
    .first-screen .description-and-phone .phone {
      -ms-flex-preferred-size: 47.18%;
      flex-basis: 47.18%;
      position: relative;
      padding-bottom: 2.223%; }
      .first-screen .description-and-phone .phone div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .first-screen .description-and-phone .phone div img {
          max-width: 48.334%; }
        .first-screen .description-and-phone .phone div #phone__circle_9 {
          background-color: white;
          position: absolute;
          width: 10.51%;
          height: 9.956%;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          border-radius: 50%;
          z-index: 1;
          right: 10.51%;
          top: 14.49%;
          font-size: 1.1vw;
          color: #6ca3ff;
          line-height: 1.2; }
        .first-screen .description-and-phone .phone div #phone__circle_london {
          background-color: #4466c9;
          position: absolute;
          width: 16.304%;
          height: 15.448%;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          border-radius: 50%;
          z-index: 1;
          right: 0;
          top: 45.83%;
          font-size: 0.85vw;
          color: white;
          text-transform: uppercase;
          line-height: 10.417; }
        .first-screen .description-and-phone .phone div #phone__circle_sunny {
          background-color: #fc6a42;
          position: absolute;
          width: 16.304%;
          height: 15.448%;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          border-radius: 50%;
          z-index: 1;
          left: 0;
          top: 50.64%;
          font-size: 1vw;
          color: white;
          text-transform: uppercase;
          line-height: 9.259; }
        .first-screen .description-and-phone .phone div #phone__circle_rio {
          line-height: 1.2;
          background-color: #fcec64;
          position: absolute;
          width: 9.964%;
          height: 9.441%;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          border-radius: 50%;
          z-index: 1;
          right: 7.25%;
          bottom: 0;
          font-size: 1vw;
          color: #648cff;
          text-transform: uppercase; }
  .first-screen .down-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 65px; }
    .first-screen .down-button button {
      font-size: 11px;
      padding: 20px;
      border-radius: 50%;
      background-color: white;
      border: none;
      text-decoration: none;
      color: #ff4a4f;
      line-height: 0.4; }
