//variables

$header-color: #648cff;

%60px {
	font-size: 3.75em;
}
%36px {
	font-size: 2.25em;
}
%24px {
	font-size: 1.5em;
}
%20.23px{
	font-size: 1.264em;
	} 
%18px{
	font-size: 1.125em;
	} 
%16px{
	font-size: 1em;
	} 

%ubuntu-bold {
	font-family: 'Ubuntu';
	font-weight: bold;
	font-style: normal;
}

%ubuntu-normal {
	font-family: 'Ubuntu';
	font-weight: normal;
	font-style: normal;
}

%ubuntu-light {
	font-family: 'Ubuntu';
    font-weight: 300;
    font-style: normal;
}

%flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

//header section

.container {
	max-width: 60.9375vw;
	margin: 0 auto;
	}

header {
	background-color: $header-color;
	padding-top: 2.78vh;
	
	.flex-container {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;

		p {
			@extend %ubuntu-bold;
			color: white;
	  		text-transform: uppercase;
	  		line-height: 1.2;
	  		font-size: 1.5em;
		}

		a {
			text-decoration: none;
			color: white;
			@extend %ubuntu-normal;
			line-height: 1.2;
			
		}
	}

	.header-navigation-meniu {
		font-size: 1.125em;
	}

	.social-media-links__list {
		font-size: 1.625em;
		justify-content: space-between;
	}
	nav {
		flex-basis: 28.34vw;
		opacity: 0.8;
	}
	.social-media-links {
		flex-basis: 7.396vw;
	}

}

//first screen

.first-screen {
	background-color: $header-color;
	//border: solid black 1px;
	background-image: url(../images/wave11.png) , url(../images/wave22.png), linear-gradient(to right, rgba(100, 140, 255, 1), rgba(100, 140, 255, 1));
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: center bottom, center bottom;
	background-size: contain, contain;

	.description-and-phone {
		@extend %flex-wrap;
		justify-content: space-between;
		align-items: center;
		max-width: 100%;
		padding-top: 13.889vh;

		.description {
			flex-basis: 42.735%;

			h1 {
				@extend %ubuntu-bold;
				@extend %60px;
				color: white;
				line-height: 1.2;
			}

			p {
				@extend %ubuntu-normal;
				@extend %18px;
				color: white;
				line-height: 1.667;
				padding-top: 50px;

			}
			button {
				@extend %ubuntu-bold;
				@extend %18px;
				color: white;
				line-heigt: 1.2;
				border: none;
				text-decoration: none;
				padding: 20px 40px;
				border-radius: 5px;
				margin-top: 60px;
			}

			button:first-child {
				background-color: #fc6a42;
			}
			button:last-child {
				background-color: #4466c9;
			}

		}


		.phone {
			flex-basis: 51.283%;

			div{
				display: flex;
				flex-direction: column;
				align-items: center;

				img {
					max-width: 48.334%;
				}
			}
			


		}


	}
	
}




