//variables

$header-color: #648cff;

%60px {
	font-size: 3.75em;
}
%36px {
	font-size: 2.25em;
}
%24px {
	font-size: 1.5em;
}
%20.23px{
	font-size: 1.264em;
	} 
%18px{
	font-size: 1.125em;
	} 
%16px{
	font-size: 1em;
	} 

%ubuntu-bold {
	font-family: 'Ubuntu';
	font-weight: bold;
	font-style: normal;
}

%ubuntu-normal {
	font-family: 'Ubuntu';
	font-weight: normal;
	font-style: normal;
}

%ubuntu-light {
	font-family: 'Ubuntu';
    font-weight: 300;
    font-style: normal;
}

%flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

//header section

.container {
	max-width: 60.9375vw;
	margin: 0 auto;
	}

header {
	background-color: $header-color;
	padding-top: 2.78vh;
	
	.flex-container {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;

		p {
			@extend %ubuntu-bold;
			color: white;
	  		text-transform: uppercase;
	  		line-height: 1.2;
	  		font-size: 1.5em;
		}

		a {
			text-decoration: none;
			color: white;
			@extend %ubuntu-normal;
			line-height: 1.2;
		}
	}

	.header-navigation-meniu {
		font-size: 1.125em;
	}

	.social-media-links__list {
		font-size: 1.625em;
		justify-content: space-between;
	}
	nav {
		flex-basis: 28.34vw;
		opacity: 0.8;
	}
	.social-media-links {
		flex-basis: 7.396vw;
	}
}

//first screen

.first-screen {
	background-color: $header-color;
	//border: solid black 1px;
	background-image: url(../images/wave11.png) , url(../images/wave22.png), linear-gradient(to right, rgba(100, 140, 255, 1), rgba(100, 140, 255, 1));
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: center bottom, center bottom;
	background-size: contain, contain;
	border-bottom-right-radius: 100vw 10vh;
	border-bottom-left-radius: 100vw 10vh;

	.description-and-phone {
		@extend %flex-wrap;
		justify-content: space-between;
		align-items: center;
		max-width: 100%;
		padding-top: 13.889vh;

		.description {
			flex-basis: 42.735%;

			h1 {
				@extend %ubuntu-bold;
				@extend %60px;
				color: white;
				line-height: 1.2;
			}

			p {
				@extend %ubuntu-normal;
				@extend %18px;
				color: white;
				line-height: 1.667;
				padding-top: 4.63vh;

			}

			.description__buttons {
				margin-top: 5.556vh;
			}
			button {
				@extend %ubuntu-bold;
				@extend %18px;
				color: white;
				line-heigt: 1.2;
				border: none;
				text-decoration: none;
				//padding: 20px 40px;
				padding:  4% 8%;
				border-radius: 5px;	
			}

			button:first-child {
				background-color: #fc6a42;
			}
			button:last-child {
				background-color: #4466c9;
			}
		}

		.phone {
			flex-basis: 47.18%;
			position: relative;
			//padding-bottom: 26px;
			padding-bottom: 2.223%;

			div{
				display: flex;
				flex-direction: column;
				align-items: center;

				img {
					max-width: 48.334%;
				}

				#phone__circle_9 {
					background-color: white;
					position: absolute;
					//width: 58px;
					//height:58px;
					width: 10.51%;
					height: 9.956%;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					z-index: 1;
					right: 10.51%;
					top: 14.49%;
					//@extend %20.23px;
					font-size: 1.1vw;
					@extend %ubuntu-bold;
					color: rgb(108, 163, 255);
					line-height: 1.2;
				}

				#phone__circle_london {
					background-color: #4466c9;
					position: absolute;
					//width: 90px;
					//height:90px;
					width: 16.304%;
					height: 15.448%;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					z-index: 1;
					right: 0;
					top: 45.83%;
					//@extend %16px;
					font-size: 0.85vw;
					@extend %ubuntu-bold;
					color: white;
					text-transform: uppercase;
					line-height: 10.417;
				}

				#phone__circle_sunny {
					background-color: #fc6a42;
					position: absolute;
					// width: 90px;
					// height:90px;
					width: 16.304%;
					height: 15.448%;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					z-index: 1;
					left: 0;
					top: 50.64%;
					//@extend %18px;
					font-size: 1vw;
					@extend %ubuntu-bold;
					color: white;
					text-transform: uppercase;
					line-height: 9.259;
				}

				#phone__circle_rio {
					line-height: 1.2;
					background-color: #fcec64;
					position: absolute;
					// width: 55px;
					// height: 55px;
					width: 9.964%;
					height: 9.441%;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					z-index: 1;
					right: 7.25%;
					bottom: 0;
					//@extend %18px;
					font-size: 1vw;
					@extend %ubuntu-bold;
					color: rgb(100, 140, 255);
					text-transform: uppercase;
				}
			}
		}
	}

	.down-button {
		display: flex;
		justify-content: center;
		padding-top: 10px;
		padding-bottom: 65px;
		button {
			font-size: 11px;
			padding: 20px;
			border-radius: 50%;
			background-color: white;
			border: none;
			text-decoration: none;
			color: rgb(255, 74, 79);
			line-height: 0.4;
		}
	}
}

//section features

.features {
	.title {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 12.04vh;

		h2{
			@extend %ubuntu-bold;
			@extend %36px;
			color: rgb(100, 140, 255);
			line-height: 1.2;
		}

		p {
			@extend %ubuntu-normal;
			@extend %18px;
			color: rgb(153, 153, 153);
			line-height: 1.2;
		}
	}

	.fetures-list {
		padding-top: 12.04vh;
		padding-bottom: 19.45vh;
		ul {
			@extend %flex-wrap;
			justify-content: space-between;
			max-width: 100%;

			li {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				max-width: 370px;



				.features-list__feature {
					margin-left: 5.4%;
					h3 {
						@extend %24px;
						@extend %ubuntu-bold;
						color: rgb(53, 56, 84);
						//line-height: 1.5;
					}

					p {
						@extend %16px;
						@extend %ubuntu-normal;
						color: rgb(174, 174, 174);
	  					line-height: 1.875;
	  					margin-top: 10px;
					}
				}
			}
		}
	}
}

//download section

.download {
	background-color: rgb(100, 140, 255);
	background-image: url("../images/threePhones.png");
	background-repeat: no-repeat;
	background-position: 50.78125vw 5.8333vh;
	
	.download-flex-container {
		display: flex;
		justify-content: flex-start;
		max-width: 500px;

		h2 {
			@extend %ubuntu-bold;
			@extend %36px;
			color: white;
			line-height: 1.2;
			text-transform: uppercase;
			padding-top: 11.12vh;

		}

		p {
			@extend %ubuntu-normal;
			@extend %18px;
			color: white;
			line-height: 1.2;
			padding-top: 3.704vh;
			max-width: 370px;
		}

		.download-flex-container__buttons {
			padding-top: 2.778vh;
			padding-bottom: 10.19vh;
		}



	}

	

}



