@media all and (max-width: 480px) {
  nav {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 25px; }
  .social-media-links {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .social-media-links__list {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; } }

@media all and (max-width: 320px) {
  .container {
    max-width: 95vw; }
  .header-navigation-meniu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }
